﻿@{
    ViewData["Title"] = "Home Page";
}

<br />



<form asp-controller="Home" asp-action="Index" class="form-inline my-2 my-lg-0" id="searchform">
    <input class="form-control mr-sm-2" type="search" name="Station" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
</form>

<a id="para"></a>

